body {
	background-color:#f0f2e3;
	font-family:arial;

}
.content {
	width:960px;
	margin:0 auto;
	background-color:#f0f2e3;
}
img {
	border:0;
}
.lefttext {
	text-align:left;
}
.righttext {
	text-align:right;
}
.centertext {
	text-align:center;
}
/*----------header--------- */
.head {
	width:950px;
	padding:5px;
	min-height:100px;
		background-color: #9798aa;
		background: -moz-linear-gradient(top, #9798aa 20%, #949494 100%);
		background-image: -webkit-linear-gradient(top, #949494 0%, #9798aa 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#9798aa), to(#949494));
		background: -ms-linear-gradient(#9798aa, #949494);
		background-image: -o-linear-gradient(top, #9798aa, #949494); /* Opera 11.10-12.00 */
}
.felsosavleft {
	width:460px;
	padding:5px;
	float:left;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		background-color: #363640;
		background: -moz-linear-gradient(top, #b3b3d2 20%, #363640 100%);
		background-image: -webkit-linear-gradient(top, #363640 0%, #b3b3d2 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3d2), to(#363640));
		background: -ms-linear-gradient(#b3b3d2, #363640);
		background-image: -o-linear-gradient(top, #b3b3d2, #363640); /* Opera 11.10-12.00 */
}
	.felsosavleft a {
		text-decoration:none;
		background-color: #9798aa;
		padding:5px 10px 0 10px;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background: -moz-linear-gradient(top, #9798aa 20%, #949494 100%);
		background-image: -webkit-linear-gradient(top, #949494 0%, #9798aa 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#9798aa), to(#949494));
		background: -ms-linear-gradient(#9798aa, #949494);
		background-image: -o-linear-gradient(top, #9798aa, #949494); /* Opera 11.10-12.00 */
	}
	.headleft {
		width:716px;
		float:left;
		padding:0;
	}
	.headleft a {
		color:black;
		margin:0;
		padding-bottom:0;
	}
	.headright {
		width:216px;
		float:right;
		min-height:70px;
	}
	.headbannleft{
	width:216px;
		padding:5px 0 0 0;
		float:left;
	}
	.headbannleftright {
		width:500px;
		float:right;
		text-align:center;
	}
	.headbannleftright h1 {
		margin:5px 0 5px 0;
		padding:0;
	letter-spacing: 0.139em;
		text-align:center;
	}
	.headbanner {
		width:216px;
		margin-top:5px;
		float:right;
		min-height:70px;
	}
	.felsosavright {
		width:465px;
		padding:5px;
		min-height:15px;
		float:right;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		background-color: #bab8b1;
		background: -moz-linear-gradient(top, #b3b3d2 20%, #363640 100%);
		background-image: -webkit-linear-gradient(top, #363640 0%, #b3b3d2 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3d2), to(#363640));
		background: -ms-linear-gradient(#b3b3d2, #363640);
		background-image: -o-linear-gradient(top, #b3b3d2, #363640); /* Opera 11.10-12.00 */
	}
	.menu {
		margin:0;
		padding:0;
		min-height:25px;
		background-color: #e3e5d7;
		background: -moz-linear-gradient(top, #b3b3d2 20%, #363640 100%);
		background-image: -webkit-linear-gradient(top, #363640 0%, #b3b3d2 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3d2), to(#363640));
		background: -ms-linear-gradient(#b3b3d2, #363640);
		background-image: -o-linear-gradient(top, #b3b3d2, #363640); /* Opera 11.10-12.00 */
		clear:both;
	}
	.katmenu{
		list-style:none;
		padding:0 5px 0 5px;
		margin:0 auto;
		min-height:65px;
	}
	.katmenu li {
		width:150px;
		display:block;
		float:left;
		margin:0 5px 1px 0;
	}
	.katmenu a {
		width:130px;
		height:25px;
		display:inline;
		float:left;
		text-align:center;
		text-decoration:none;
		color:black;
		padding:5px 10px 0 10px;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		background-color: #363640;
		background: -moz-linear-gradient(top, #b3b3d2 20%, #363640 100%);
		background-image: -webkit-linear-gradient(top, #363640 0%, #b3b3d2 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3d2), to(#363640));
		background: -ms-linear-gradient(#b3b3d2, #363640);
		background-image: -o-linear-gradient(top, #b3b3d2, #363640); /* Opera 11.10-12.00 */
	}
	.katmenu a:visited {
		text-align:center;
		}
	.katmenu .active {
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		text-align:center;
		background: #e3e5d7;
		background: -moz-linear-gradient(top, #363640 20%, #949494 100%);
		background-image: -webkit-linear-gradient(top, #949494 0%, #363640 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#363640), to(#949494));
		background: -ms-linear-gradient(#363640, #949494);
		background-image: -o-linear-gradient(top, #363640, #949494); /* Opera 11.10-12.00 */
		color:red;
		
	}
	.katmenu a:hover {
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background: #e3e5d7;
		background: -moz-linear-gradient(top, #363640 20%, #949494 100%);
		background-image: -webkit-linear-gradient(top, #949494 0%, #363640 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#363640), to(#949494));
		background: -ms-linear-gradient(#363640, #949494);
		background-image: -o-linear-gradient(top, #363640, #949494); /* Opera 11.10-12.00 */
		color:white;
	}
/*----------header end--------- */
/*----------  tartalom  --------- */
.tartalom {
	width:960px;
	min-height:500px;
	display:block;
}

#kozep {
	width:650px;
	padding:0 5px 0 0;
	float:left;
	min-height:500px;
}
.single  {
  float: left;
  width:190px;
  min-height:190px;
}

figure {
	width:400px;
	margin:0 auto;
}
	.cimsav {
		height:25px;
		margin:2px 0 0 0;
		padding:2px 0 0 10px;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background-color: #9798aa;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9798aa', endColorstr='#bab8b1');
		background: -moz-linear-gradient(top, #9798aa 0%, #e3e5d7 100%);
		background: -webkit-gradient(linear, left top, left bottom, from(#9798aa), to(#e3e5d7));
		background: -ms-linear-gradient(#9798aa, #e3e5d7);
	}
	.felh {
		width:300px;
		height:25px;
		margin:0 0 0 300px;
		padding:2px 0 0 10px;
		display:block;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		background-color: #9798aa;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9798aa', endColorstr='#bab8b1');
		background: -moz-linear-gradient(top, #9798aa 0%, #e3e5d7 100%);
		background: -webkit-gradient(linear, left top, left bottom, from(#9798aa), to(#e3e5d7));
		background: -ms-linear-gradient(#9798aa, #e3e5d7);
	}
	.clear {
		clear:both;
	}
	.baloszlop {
		width:320px;
		float:left;
	}
	.jobboszlop {
		width:320px;
		float:right;
	}
	.reg {
		padding:5px;
		margin:1px 0 10px 0;
		display:block;
		min-height:250px;
		overflow:hidden;
		border:1px solid;
		border-color: #787878;
		box-shadow:5px 5px 5px #bab8b1;
		word-wrap: break-word;
	}
	.blog p {
		margin:0;
	}
	.szoba a{
		text-decoration:none;
		color:blue;
	}
	.online a{
		text-decoration:none;
		color:green;
	}
	.outline a{
		text-decoration:none;
		color:gray;
	}
	.info {
		width:30%;
		float:left;
		margin:5px 0 0 0;
		padding:0;
		display:block;
	}
	.lapozo {
		text-align:center;
		font-size:0.7em;
	}
	.szoveg {
		width:70%;
		float:right;
		margin:5px 0 0 0;
		padding:0;
		display:block;
	}

#banners {
	width:290px;
	float:right;
	min-height:1000px;
	padding:0px 5px 0 5px;
}
	.banner {
		margin:10px 0 10px 0;
	}
	.logged {
		margin:0 0 20px 0;
		padding:5px;
		border:1px solid;
		border-color: #787878;
		box-shadow:5px 5px 5px #bab8b1;
		line-height:1.5em;
	}
	.topsee, .topsees {
		height:300px;
		overflow-y:scroll;
		background-color:white;
		border:1px solid;
		border-color: #787878;
		box-shadow:5px 5px 5px #bab8b1;
		padding:5px;
	}
	.tovabbi {
		padding:5px;
		margin:0 0 20px 0;
		background-color:white;
		border:1px solid;
		border-color: #787878;
		box-shadow:5px 5px 5px #bab8b1;
		
	}
	.tovabbi ul, .topsee ul {
		list-style:none;
	}
		.tovabbi li, .topsee li {
			margin-left:-30px;
		}
		.tovabbi a {
			display:block;
			color:black;
			line-height:30px;
		}
/*----------  tartalom vége --------- */
/*----------footer--------- */
.footer {
	clear:both;
	width:950px;
	padding:5px;
	min-height:100px;
	display:block;
		background-color: #363640;
		background: -moz-linear-gradient(top, #b3b3d2 20%, #363640 100%);
		background-image: -webkit-linear-gradient(top, #363640 0%, #b3b3d2 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3d2), to(#363640));
		background: -ms-linear-gradient(#b3b3d2, #363640);
		background-image: -o-linear-gradient(top, #b3b3d2, #363640); /* Opera 11.10-12.00 */
}
/*----------footer end--------- */